body
{
	background: rgb(0, 0, 0, 1.0);
}




h1,h2,h3,h4,h5,h6
{
	color: rgb(255, 255, 255, 1.0);
}

p
{
color: rgb(200, 200, 200, 1.0);
}
div
{
	background: rgb(45, 45, 45, 1.0);
	margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
}